.header {
  grid-area: h;
  background-color: rgb(147, 186, 147);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeCount {
  margin: 10px 40px 10px 60px;
}

.comment {
  margin: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}
.nav {
  grid-area: n;
  background-color: burlywood;
}

.nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 30px 20px;
}
.btn {
  border-radius: 18px;
  background-color: aquamarine;
}
.description {
  padding: 10px;
}
.app-wrapper-content img {
  width: 1000px;
  height: 300px;
}
.search img {
  width: 20px;
  border-radius: 30%;
  margin: 0 10px;
}

.search input {
  margin-right: 20px;
}
.logotip {
  width: 80px;
}







